body {
  height: 100vh;
  background-color: #fff;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}


.img-container {
  border-style: solid;
  position: relative;
}

.year {
  margin: 20px 10px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  margin: 0 5px;
  object-fit: contain;
}
